body {
  margin: 0;
  background: #f2f2f7;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

h1 {
  color: #4f46e5;
}

.card {
  padding: 10px;
  margin: 8px 0;
  background: #fafafe;
  border-radius: 8px;
}

button {
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
